@import "variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin opacity($value) {
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@import "seolo/festives";
@import "seolo/tags";
@import "seolo/texts";
@import "seolo/alts";
